<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<link rel="icon" href="../fav.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<style>
		body{
			background-color: #3F51B5;
		}
		.container{
			width: max-content;
			margin: 3rem auto;
			border: 1px solid black;
			padding: 0.5rem 1rem;
			background-color: white;
			border-radius: 1rem;
			box-shadow: 0.7rem 0.7rem  #888888;
		}
		.profilepic{
			display: inline-block;
			height: max-content;
			position: relative;
			bottom: 3rem;
		}
		#top{
			text-align: center;
		}
		#blah{
			border: 1px solid black;
			height: 50px;
			width: 50px;
		}
		#cont{
			margin-top: 1rem;
			display: inline;
		}
		#first{
			display: inline;
		}
		p{
			display: inline-block;
		}
		a{
			color: black;
		}
		#blah{
			display: none;
		}
		.big{
			font-size: 1rem;
			font-weight: bold;
		}
		.fname{
			margin-top: -20px;
		}
		.info{
			margin-top: 1rem;
			display: inline-block;
			margin-left: 2rem;
		}
	</style>
</head>
<body>
	<div class="container">
		<div id="top">
			<p style="text-decoration: underline; font-size: 1.8rem;">USER PROFILE</p>
			<br>
			<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
		</div>
		<div id="cont">
			<div class="profilepic">
                <label id="header"><p class="big">Profile Photo:</p></label>
				<br>
    	        <input id="file" type='file' onchange="readURL(this);" />
    			<img id="blah" src="#" alt="your image"  />
            </div>
			<div class="info">
			<div class="fname">
				<label id="first"> <p class="big"> First Name : </p><p><%= fname %></p> </label>
			</div>
			<div class="fname">
				<label id="first"> <p class="big">Last Name : </p><p><%= lname %></p> </label>
			</div>
			<div class="fname">
				<label id="first"> <p class="big"> Date Of Birth : </p><p><%= dob %></p> </label>
			</div>
			<div class="fname">
				<label id="first"> <p class="big"> Mobile :  </p> <p><%= mobile %></p> </label>
			</div>
			<div class="fname">
				<label id="first"> <p class="big"> Email-id : </p><p><%= email %></p> </label>
			</div>
			<div class="fname">
				<div><span> <p class="big"> Change Password : </p></span><a href="/forgetpass">Click here</a>
			</div>
			<div class="fname">
				<p class="big">Go back to admin page: <a href="/profile"><i class="fa fa-arrow-circle-left" style="font-size:20px"></i></a> </p>
			</div>
		</div>
	</div>
		
	</div>
</body>
<script>

	
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
				document.getElementById("file").style.display = "none";
				document.getElementById("header").style.position="absolute";
				document.getElementById("blah").style.display="inline";
				document.getElementById("blah").style.position="relative";
				document.getElementById("blah").style.top="20px";
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(150);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</html>